.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #044d12;
    -fx-padding: 0 0 20 0;
}

.menu-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.menu-button-sub {
    -fx-background-color: #1abc9c; /* Azul turquesa */
    -fx-text-fill: #ffffff; /* Texto blanco para buen contraste */
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.menu-button-sub:hover {
    -fx-background-color: #16a085; /* Azul turquesa más oscuro */
}

.menu-button-sub:pressed {
    -fx-background-color: #1abc9c; /* Azul turquesa */
}


.menu-button:hover {
    -fx-background-color: #27ae60;
}

.menu-button:pressed {
    -fx-background-color: #219653;
}

/* Estilo para las etiquetas */
.l-label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

/* Estilo para los botones */
.l-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}

/* Estilo para los campos de entrada de texto */
.l-text-field {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-background-color: #ffffff;
}

/* Estilo para las áreas de texto */
.l-text-area {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-background-color: #ffffff;
}

/* Estilo para las líneas separadoras */
.l-line {
    -fx-stroke: gray;
    -fx-stroke-width: 1;
}

/* Efecto hover para botones */
.l-button:hover {
    -fx-background-color: #27ae60;
}

/* Efecto de botón presionado */
.l-button:pressed {
    -fx-background-color: #1e8449;
}
