/* Solo se aplican estilos a MenuBar con la clase 'styled-menu' */
.styled-menu {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
}

/* Específicamente, no estilizar los MenuBar con clase 'no-style' */
.no-style {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

/* Estilos globales */
.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #044d12;
    -fx-padding: 0 0 20 0;
}

/* Botones de menú */
.menu-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.menu-button-sub {
    -fx-background-color: #1abc9c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.menu-button-sub:hover {
    -fx-background-color: #16a085;
}

.menu-button-sub:pressed {
    -fx-background-color: #1abc9c;
}

.menu-button:hover {
    -fx-background-color: #27ae60;
}

.menu-button:pressed {
    -fx-background-color: #219653;
}
